
@import '../../Colors';

.mainpageitem {
    width: calc(100% - 32px);
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    margin: 16px 0 0 0;
    box-shadow: 1px 1px 3px 0px #0000000a;

    &:hover {
        box-shadow: 0px 0px 0px 1px #0f9cd8ab, 1px 1px 4px 0px #0000000a;
        cursor: pointer;
    }

    &-container {
        display: flex;
        height: 124px;
    }

    &-bonus {
        border-top: 1px solid $color-bg;
        height: 48px;
        display: flex;
        justify-content: space-between;
        padding: 0 16px;


        &-disable {
            opacity: 0.5;
        }
        
        &>div {
            display: flex;
            align-items: center;
            p {
                transform: translateY(-2px);
                margin: 0 4px;
                padding: 0 16px;
            }
        }

        &-received {
            padding: 0px 16px 2px 16px !important;
            color: #17c985 !important;
            border: solid #17c985 1px;
            border-radius: 8px;
            cursor: pointer;
            &:hover {
                background: #17c9850e;
            }
            &--active {
                background: #17c985;
                color: white !important;
                &:hover {
                    background: #17c985;
                }
            }
        }

        &-like {
            padding: 0px 16px 2px 16px !important;
            color: #175bc9 !important;
            border: solid #175bc9 1px;
            border-radius: 8px;
            cursor: pointer;
            &:hover {
                background: #175bc90e;
            }
            &--active {
                background: #175bc9;
                color: white !important;
                &:hover {
                    background: #175bc9d0;
                }
            }
        }

        &-edit {
            padding: 0px 16px 2px 16px !important;
            color: #caa11b !important;
            border: solid #caa11b 1px;
            border-radius: 8px;
            cursor: pointer;
            &:hover {
                background: #caa11b0e;
            }
        }

        &-delete {
            padding: 0px 16px 2px 16px !important;
            color: #db0000 !important;
            border: solid #db0000 1px;
            border-radius: 8px;
            cursor: pointer;
            &:hover {
                background: #db00000e;
            }
        }
    }

    &-image {
        min-width: 124px;
        &-display {
            position: relative;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            border-radius: 8px;
            height: calc(100% - 24px);
            width: calc(100% - 24px);
            background-size: cover !important;
            background-position: center !important;
            background: url('../../Assets/Images/presentPlaceholder.png');
        }

        &-bannerWrap {
            z-index: 99;
            margin-top: 16px;
            display: flex;
            position: absolute;
            height: 52px;
            flex-direction: column;
            justify-content: space-between;
            transform: translateX(-3px);
            opacity: 0.75;
            p {
                margin: 0;
                border-radius: 2px 8px 8px 2px;
                box-shadow: 1px 1px 3px 0px #0000000a;
            }
        }

        &-likedBanner {
            width: max-content;
            padding: 0px 16px 2px 16px;
            color: white;
            font-style: italic;
            font-weight: bold;
            background: $color-main;
        }

        &-receivedBanner {
            background: #17c985 !important;
            width: max-content;
            padding: 0px 16px 2px 16px;
            color: white;
            font-style: italic;
            font-weight: bold;
            background: $color-main;
        }
    }

    &-info {
        pointer-events: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        & div {
            flex-grow: 1;
            height: auto;
            position: relative;
            transform: translateY(-4px);
            p {
                width: calc(100% - 32px);
                position: relative;
                transform: translateX(-50%);
                left: 50%;
                margin: 0 !important;
            }
            p:nth-child(1) {
                font-size: 18px;
                font-weight: bold;
                color: $color-main;
            }
            p:nth-child(2) {
                color: $color-main;
                font-style: italic;
                font-size: 12px;
            }
            p:nth-child(3) {
                padding-top: 4px;
                font-size: 14px;
                color: $color-light;
                -webkit-line-clamp: 2;
                line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
            }
        }
    }

    &-props {
        width: 124px;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        padding: 12px;
    }

    &-comments {
        width: 100%;
        min-width: max-content;
        background: $gradiant-radial;
        min-height: 30px;
        border: 0 0 4px 4px;
        border-radius: 4px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background: $gradiant-radialhover;
        }
        
        p {
            font-size: 14px;
            font-style: italic;
            margin: 0;
            padding: 0 12px;
            text-align: center;
            position: relative;
            color: white;
            transform: translateY(-2px);
        }
    }

    &-links {
        cursor: pointer;
        margin: 8px 0 0 4px;
        font-style: italic;
        font-size: 12px;

        & svg {
            height: 12px;
            margin: 0 4px 0 0;
            pointer-events: none;
        }
        &-link {
            display: flex;
            flex-direction: row;
            text-decoration: none;
            color: $color-light;

            &:hover {
                text-decoration: underline;
                color: $color-main !important;
            }

            p {
                transform: translateY(-3px);
                margin: 0;
                pointer-events: none;
            }
        }
    }
}